[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
requests = "*"
psycopg2-binary = "*"
djangorestframework-simplejwt = "*"
django-celery-beat = "*"
django-celery-results = "*"
python-decouple = "*"
redis = "*"
celery = "*"

[dev-packages]
black = "*"
isort = "*"
pre-commit = "*"

[requires]
python_version = "3.8"

[packages.drf-yasg]
extras = [ "validation",]
